* {
    margin: 0;
    padding: 0;
}

li{
    text-decoration: none;
}
header{
    background-color: gray;
    height: 100px;
    width: 100%;
    margin-bottom: 30px;
}
.indent{
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.panel{
    display: inline-block;
    width: 500px;
    min-height: 150px;
    margin-bottom: 50px;
    border: 2px#2e2e2e solid;
    box-shadow: 0 0 10px #2e2e2e;
    padding-bottom: 10px;
}

.panel .title{
    font-size: 16px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-bottom: 2px #2e2e2e solid;
    text-align: center;
    color: white;
    background-color:#2e2e2e;
}

.panel .content{
    padding-left: 2px;
    padding-right: 2px;
}

.panel .content p{
    font-size: 17px;
}

.panel .content button{
    border: none;
    height: 20px;
    background-color: #c9c9c9;
    width: 100%;
}

.panel-1 ul li{
    display: block;
    border-bottom: 1px solid #e4e4e4;
}

.panel-1 ul li span{
    font-weight: bolder;
    margin-left: 2px;
    margin-right: 2px;
}

.galery .content li{
    display: inline-block;
}

.galery img{
    width: 100px;
    height: 100px;
}

.panel-2 {
    float: right;
}


.panel-2 form{
    margin: 5px;
}

.galery {
    float: right;
}

.panel-6 {
    float: right;
}

@media screen and (max-width: 1125px){
    .indent{
        width: 500px;
    }

    .panel{
        display: block; 
    }

    .panel-2 {
        float: none;
    }
    
    .galery {
        float: none;
    }
    
    .panel-6 {
        float: none;
    }
}