* {
    margin: 0;
    padding: 0;
}

header{
    background-color: gray;
    height: 100px;
    margin-bottom: 30px;
}
.indent{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.panel{
    display: inline-block;
    width: 420px;
    height: auto;
    margin-bottom: 50px;
    border: 2px#2e2e2e solid;
    box-shadow: 0 0 10px #2e2e2e;
    padding-bottom: 10px;
}

.panel .title{
    font-size: 16px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-bottom: 2px #2e2e2e solid;
    text-align: center;
    color: white;
    background-color:#2e2e2e;
}

.panel-1 button{
    margin: 2px;
    width: 99%;
}

.panel-1 ol{
    margin-left: 25px;
}

.panel-1 ol li{
    border-bottom: 1px solid #f77023;
    width: 15%;
}

.panel-2 {
    float: right;
}


.panel-2 form{
    margin: 5px;
}

.panel-4 {
    float: right;
}